
<!DOCTYPE html>
<html>
<body>
	<style>
		.home {
		  max-width: fit-content;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top: auto;
		  margin-bottom: auto;
		  color: white;
		  background-color: blue;
		  display: flex;
		}
		
		.button {
			right: 500;
		  background-color: rgb(8, 14, 97);
		  color: rgb(240, 239, 244);
		}
		</style>
	<div class="home">Home Poge</div>
		<button class="button">Invoice Details</button>
		<button class="button">Invoice List</button>
	</div>


</body>
</html>